body {
  background-color: rgb(255, 228, 234)
  
}

h1 {
    background-color: rgb(255, 194, 224);
  color: rgb(255, 11, 125);
  text-align: center;
}

h2 {
  color: rgb(255, 11, 125) ;

}
a {
  color: rgb(255, 0, 140) ;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
